#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=ens192 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$W6Yyk256fJVEvdjD$Dpx4jhT8/KnFOV0r2LAkEM4DulO0ry9r8C9quMrfWMydTnyjXNIl85wT7IBGVe9ZiQ8EVInbo7WuIOEf6B6Dl.
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=student --password=$6$e6L0V6t5hhU60M46$pT7tZGfeCZkXDjjbqa9uapMlh7ZwhgCHiRi8kXAwnlLbLfCwSg6CJR5Aqw1oCZh2suKgtrZXVfTZ8a3bwbc7t1 --iscrypted --gecos="student"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11

%end

%addon com_redhat_kdump --disable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
